
.menu-item{
   // float: left;
   height: 200px;
   width: 400px;
   display: flex;
    margin-right: 10px;
   overflow: auto;
  //  min: height 10

 } 
 .main-div  {
    // flex: 1 1 auto;
    // display: flex;
    display: flex;
    flex-direction: row;
 }
.content
{
    width: 400px;
    height: 100%;
}
